<!-- carrousel.component.html -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li
      *ngFor="let question of questions; let i = index"
      [class.active]="i === currentSlideIndex"
      (click)="moveSlide(i)"
    ></li>
  </ol>
  <div class="carousel-inner">
    <div
      *ngFor="let question of questions; let i = index"
      class="carousel-item"
      [class.active]="i === currentSlideIndex"
    >
      <div>
        <div class="text-center">
          <h5>{{ question.statement }}</h5>
          <app-graph1
            [data]="question"
            *ngIf="i === currentSlideIndex"
            class="fixed-size-graph"
          ></app-graph1>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" role="button" (click)="moveSlide('prev')">
    <i class="material-icons">arrow_back_ios</i>
  </a>
  <a class="carousel-control-next" role="button" (click)="moveSlide('next')">
    <i class="material-icons">arrow_forward_ios</i>
  </a>
</div>
