<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li *ngFor="let question of questions; let i = index"
        [class.active]="i === currentSlideIndex"
        (click)="moveSlide(i)"></li>
  </ol>
  <div class="carousel-inner">
    <div *ngFor="let question of questions; let i = index"
         class="carousel-item"
         [class.active]="i === currentSlideIndex">
      <div class="d-flex justify-content-center align-items-center" style="height: 400px;">
        <div class="text-center">
          <h5>{{ question.statement }}</h5>
          <app-graph1 [data]="question"></app-graph1>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" role="button" (click)="moveSlide('prev')">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" role="button" (click)="moveSlide('next')">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
