<div class="container-fluid banner-metrics">
  <div class="container-md">
    <div class="d-flex justify-content-between">
      <div>
        <span>Total respuestas</span>
        <h3>{{ consolidatedSurveyMetrics?.num_responses }} empleados</h3>
      </div>
    </div>

    <div class="wrapper d-flex justify-content-center flex-wrap gap-2 mx-auto">
      <div class="metric-card d-flex flex-column justify-content-between p-3">
        <span class="icon-card"></span>
        <div>
          <h1>Puntaje promedio</h1>
          <h2>{{ consolidatedSurveyMetrics?.consolidated?.score }}</h2>
        </div>
      </div>
      <div class="metric-card d-flex flex-column justify-content-between p-3">
        <span class="icon-card"></span>
        <div>
          <h1>Mejor puntaje</h1>
          <h2>{{ consolidatedSurveyMetrics?.highest_score }}</h2>
        </div>
      </div>
      <div class="metric-card d-flex flex-column justify-content-between p-3">
        <span class="icon-card"></span>
        <div>
          <h1>Peor puntaje</h1>
          <h2>{{ consolidatedSurveyMetrics?.lowest_score }}</h2>
        </div>
      </div>
      <div class="metric-card d-flex flex-column justify-content-between p-3">
        <span class="icon-card"></span>
        <div>
          <h1>Riesgo</h1>
          <h2>{{ consolidatedSurveyMetrics?.risk }}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
