.banner-metrics {
  background-color: #000028;
  color: white;
}

.wrapper {
    padding: 20px 0;
}

.metric-card {
  background-color: white;
  color: #000028;
  width: 260px;
  height: 150px;
  border-radius: 12px;
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.25);
}

.metric-card h1 {
  font-size: 15px;
  font-weight: 500;
}

.icon-card {
  display: block;
  width: 35px;
  height: 35px;
  background-image: url("/assets/star.png");
  background-size: cover;
  background-position: center;
}

.metric-card h2 {
  font-weight: 700;
}
