#header {
    background-color: #000028;
    position: relative;

}


.navbar #links {
    display: flex;
    flex-grow: 0.5;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.navbar #links button{
    color: black;
    font-weight: 800;
    font-size: small;
    border: none;
    padding: 0.8em 2.5em;
    background-color: #ffcc2b;
}

.navbar #links button:hover{
    cursor: pointer;
    background-color: #dc9049;
    transition: all 150ms ease-in-out;
}


.navbar a, .navbar h1{
    color: white;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.2em;
}

.navbar a {
    font-size: small;
}


.navbar a:hover{
    color: #dc9049;
    transition: all 150ms ease-in-out;
}

#viewPrincipal{
    margin: 4% 5% 4%;
    font-family: "Roboto", sans-serif;
}

#viewPrincipal #resumen{
    display: flex;
    flex-direction: row;
}

#viewPrincipal #grafica{
    flex-grow: 1;
}

#viewPrincipal #sideNote {
    flex-grow:1;
    display: inline-block;
    background-color: #000028;
    padding: 2em;
    border-radius: 8px;
    width: 0.5%;
    color: white;
    text-decoration: none;
    text-align: start;
    line-height: 1.5em;
    overflow: hidden;
}

#viewPrincipal #sideNote button {
    color: black;
    font-weight: 800;
    font-size: small;
    border: none;
    border-radius: 8px;
    padding: 0.8em 2.5em;
    background-color: #ffcc2b;
    margin-top: 5em;
}

#viewPrincipal #sideNote button:hover {
    cursor: pointer;
    background-color: #dc9049;
    transition: all 150ms ease-in-out;
}

#viewPrincipal #sideNote i {
    font-size: 4em;

}


#viewPrincipal #sideNote h1 {
    color: #ffcc2b;
    font-size: 4em;
    margin: 0.4em 0 0.4em;

}

#viewPrincipal #sideNote p {
    margin: 0.2em 0 0.2em;

}

#viewPrincipal #sideNote p:nth-child(2) {
    font-size: x-large;

}

#viewPrincipal #sideNote p:nth-child(5) {
    font-weight: 0%;
    color: #7a7a8e;
}
