
.login-wrapper {
    font-family: "Roboto", sans-serif;
}

#header {
    padding:0 0 0;
    background-color: #000028;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);

}

.navbar{
    background-color: #000028;
    padding: 2% 10% 2%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    /* position: fixed;
    top: 0;
    left: 0;
    width: 80%; */
    overflow: hidden;
    
}


.navbar #links {
    display: flex;
    flex-grow: 0.5;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.navbar #links button{
    color: black;
    font-weight: 800;
    font-size: small;
    border: none;
    padding: 0.8em 2.5em;
    background-color: #ffcc2b;
}

.navbar #links button:hover{
    cursor: pointer;
    background-color: #dc9049;
    transition: all 150ms ease-in-out;
}


.navbar a, .navbar h1{
    color: white;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.2em;
}

.navbar a {
    font-size: small;
}


.navbar a:hover{
    color: #dc9049;
    transition: all 150ms ease-in-out;
}

#viewPrincipal{
    margin: 4% 5% 4%;
    font-family: "Roboto", sans-serif;
}

#viewPrincipal #resumen{
    display: flex;
    flex-direction: row;
}

#viewPrincipal #grafica{
    flex-grow: 1;
    margin-right: 5%;
    max-width: 70%;
}



#viewPrincipal .side {
    flex-grow:1;
    display: inline-block;
    /* background-color: #000028; */
    padding: 2em;
    border-radius: 8px;
    width: 0.5%;
}

#viewPrincipal .side .sidenote {
    background-color: #000028;
    color: white;
    padding: 2em;
    text-decoration: none;
    text-align: start;
    line-height: 1.5em;
    border-radius: 8px;
    overflow: hidden;
    height: 70%;
    margin-bottom: 1em;
}

#viewPrincipal .sidenote button {
    color: black;
    font-weight: 800;
    font-size: small;
    border: none;
    border-radius: 8px;
    padding: 0.8em 2.5em;
    background-color: #ffcc2b;
    margin-top: 5em;
}

#viewPrincipal .sidenote button:hover {
    cursor: pointer;
    background-color: #dc9049;
    transition: all 150ms ease-in-out;
}

#viewPrincipal .sidenote i {
    font-size: 4em;

}


#viewPrincipal .sidenote h1 {
    color: #ffcc2b;
    font-size: 4em;
    margin: 0.4em 0 0.4em;

}

#viewPrincipal .sidenote p {
    margin: 0.2em 0 0.2em;
    font-size: 1em;

}

#viewPrincipal .sidenote p:nth-child(2) {
    font-size: x-large;

}

#viewPrincipal .sidenote p:nth-child(5) {
    font-weight: 0%;
    color: #7a7a8e;
}
